<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
            <add name="GPI" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </modules>
        <handlers>
            <add name="PYTHONX" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;C:\Users\Diogo Costa\AppData\Local\Programs\Python\Python39\python.exe&quot; %s %s" resourceType="File" />
            <add name="HYTONX" path="*.py" verb="*" modules="IsapiModule" scriptProcessor="C:\Users\Diogo Costa\AppData\Local\Programs\Python\Python39\python39.dll" resourceType="File" preCondition="bitness64" />
        </handlers>
    </system.webServer>
</configuration>
